<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83044330620-n4t4ig7skivmhsm4av9leg9ebedhgjvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83044330620-n4t4ig7skivmhsm4av9leg9ebedhgjvg</string>
	<key>API_KEY</key>
	<string>AIzaSyC41T0d8zBy7a-yoXBruZELgqB7bKHfXLk</string>
	<key>GCM_SENDER_ID</key>
	<string>83044330620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibc.tbt</string>
	<key>PROJECT_ID</key>
	<string>cms-tbt</string>
	<key>STORAGE_BUCKET</key>
	<string>cms-tbt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83044330620:ios:30454f5dc7d7d6f1522df9</string>
</dict>
</plist>